<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RV.ClientServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRemoteService" messageEncoding="Mtom">
                    <reliableSession inactivityTimeout="00:01:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cmd18:10080/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRemoteService" contract="ServiceReference.IRemoteService"
                name="WSHttpBinding_IRemoteService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <RV.ClientServer.Properties.Settings>
            <setting name="BackupPath" serializeAs="String">
                <value>backup</value>
            </setting>
            <setting name="UpdatePath" serializeAs="String">
                <value>update</value>
            </setting>
            <setting name="Mask" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="FilesExclude" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>backup.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RV.ClientServer.Properties.Settings>
    </userSettings>
</configuration>