<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RV.Command.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RV.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RV.ClientServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
      <RV.UserInterface.Properties.Settings>
      <setting name="ServerPort" serializeAs="String">
        <value>10080</value>
      </setting>
    </RV.UserInterface.Properties.Settings>
    
    <RV.Command.Properties.Settings>
      <setting name="AssemblyName" serializeAs="String">
        <value>RV.UserInterface</value>
      </setting>
      <setting name="TypeName" serializeAs="String">
        <value>RV.UserInterface.Contoller.GuiController</value>
      </setting>
    </RV.Command.Properties.Settings>

    <RV.ClientServer.Properties.Settings>
      <setting name="BackupPath" serializeAs="String">
        <value>backup</value>
      </setting>
      <setting name="UpdatePath" serializeAs="String">
        <value>update</value>
      </setting>
      <setting name="Mask" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="FilesExclude" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>backup.exe</string>
            <string>RV.Command.exe</string>
          </ArrayOfString>
        </value>
      </setting>
    </RV.ClientServer.Properties.Settings>
  
  </userSettings>
</configuration>